# Additional exercises for the P1 session

## 1. Swap upper and lower cases

Write a Python program to interchange cases in a given string.

Sample Input -> Output

```
    pYTHON eXERCISES -> Python Exercises
    jAVA -> Java
    nUMpY -> Numpy
```

In [1]:
"pYTHON eXERCISES".swapcase()

'Python Exercises'

In [2]:
java_str = "jAVA"
java_str.swapcase()

'Java'

In [3]:
"nUMpY".swapcase()

'NumPy'

## 2. Delete a given character

Write a Python program to delete all occurrences of a specified character in a given string.
```
########################
# Sample Input:
# char="a"
# sentence = "Example sentence"
# Output: Exmple sentence
########################    
```

In [4]:
sentence="Example sentence"

print(sentence.replace("a",""))

Exmple sentence

In [5]:
print(sentence.replace("e",""))

Exampl sntnc

## 3. Special replace

Write a Python program to get a string from a given string where all occurrences of its first char have been changed to `$`, except the first char itself.


```
########################
# Sample Input -> Output
# restart -> resta$t
# example -> exampl$
# test -> tes$
########################
```

In [6]:
str1="restart"

## Get first character
char = str1[0]

## replace by $
str1 = str1.replace(char, '$')

## add the original first character
str1 = char + str1[1:]

print(str1)

resta$t

## 4. Exchange characters

Write a Python program to change a given string to a newly string where the first and last chars have been exchanged.

```
Sample Input -> Output
# abcd -> dbca                                                                                                          
# 12345 -> 52341
```

In [7]:
str1="abcde"
str1[-1:] + str1[1:-1] + str1[:1]

'ebcda'

## 5. Create HTML lines

Write a Python function to create an HTML string with tags around the given word.
```
Sample Input:
# word = "Python"
# tag = "i"
# output: <i>Python</i>
```

In [8]:
tag = "i"
word = "Python"
html_string = "<%s>%s</%s>" % (tag, word, tag)

print(html_string)

<i>Python</i>

## 6. Repeat last characters

Write a Python function to get a string made of 4 copies of the last two characters of a specified string (length must be at least 2).
```
Sample Input -> Output
# Python -> onononon
# test -> stststst
```

In [9]:
str1 = "Python"
str1[-2:]*4

'onononon'

## 7. Insert strings in other string

Write a Python function to insert a string in the middle of a string.
```
# Sample Input -> Output
# '[[]]', 'Python' -> [[Python]]
# '++', 'Test' -> +Test+
# '<<<>>>', 'Test' -> <<<Test>>>
```

In [10]:
char = "<<<>>>"
senten = "test"
mid = int(len(char)/2)
final_str = char[:mid] + senten + char[mid:]

print(char)
print(senten)
print(final_str)

<<<>>>
test
<<<test>>>

## 8. Format floating points
Write a Python program to print the following numbers up to 2 decimal places.
```
# Sample Input -> Output
#  3.1415926 -> 3.14
#  12.9999 -> 13
```

In [11]:
x=3.14151616
print("\nOriginal Number: ", x)
print("Formatted Number: %.2f"  %x)

Original Number:  3.14151616
Formatted Number: 3.14

## 9. Commas and dots.

Write a Python program to swap commas and dots in a string.
```
Sample Input -> Output
# "32.054,23" -> "32,054.23"
# 1.750,24 -> 1,750.24
```

In [12]:
str1="32.054,23"
print("Original: ", str1)
str1 = str1.replace(',', 'test')
str1 = str1.replace('.', ',')
str1 = str1.replace('test', '.')
print(str1)

Original:  32.054,23
32,054.23